<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>免责条款 - TellYouWhat</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
    <pre class="agree-pre">
首部及导言

欢迎你使用本软件及服务！

为使用本软件及服务，你应当阅读并遵守《免责条款》（以下简称“本协议”）。请你务必审慎阅读、充分理解各条款内容，并选择接受或不接受。

除非你已阅读并接受本协议所有条款，否则你无权使用本软件及相关服务。你的任何查询行为即视为你已阅读并同意上述协议的约束。

<strong>重要的内容已经加粗，但是不代表您可以不阅读未加粗的地方，他们具有同等的法律效力。</strong>

如果你未满18周岁，请在法定监护人的陪同下阅读本协议及其他上述协议，并特别注意未成年人使用条款。

一、协议的范围

1.1 协议适用主体范围

本协议是你与我之间关于你使用、复制本服务所订立的协议。

1.2 协议关系及冲突条款

本协议内容同时包括可能不断发布的关于本服务的相关协议、业务规则等内容。上述内容一经正式发布，即为本协议不可分割的组成部分，你同样应当遵守。

二、关于本服务

2.1 本服务的内容

本服务内容是指我向您提供的西北大学成绩查询服务（以下简称“本服务”）。

2.2 本服务的形式

2.2.1 你使用本服务需要在浏览器中打开，你仅可为访问或使用本服务的目的而使用这些软件及服务。

2.3 本服务许可的范围

2.3.2 你可以很轻松获得本软件及服务的源代码。<strong>原代码中含有的所有著作权信息不能去除，可以商用，但如若做出危害学校利益的行为，我概不负责。</strong>

2.3.3 <strong>你可以自用此软件，但是我不对查出来的任何数据负责，一切最终成绩以学校公布为准。我不保证此软件、服务能长久有效。我不保证此服、软件的可靠性。</strong>

2.3.4 本条及本协议其他条款未明示授权的其他一切权利仍由我保留，你在行使这些权利时须另外取得我的书面许可。我如果未行使前述任何权利，并不构成对该权利的放弃。

2.3.5 更多源代码使用权限以Apache License 2.0为主。

三、用户个人信息保护

3.1 <strong>保护用户个人信息是我的一项基本原则，我将不会以任何方式存储您的个人信息。除法律法规规定的情形外，未经用户许可我不会向第三方公开、透露用户个人信息。我对相关信息采用专业加密存储与传输方式，保障用户个人信息的安全。</strong>

3.2 <strong>我将运用各种安全技术和程序建立完善的管理制度来保护你的个人信息，以免遭受未经授权的访问、使用或披露。</strong>


四、主权利义务条款


4.1 用户注意事项

4.1.1 你理解并同意：为了向你提供有效的服务，本软件会利用你终端设备的处理器和带宽等资源。本软件使用过程中可能产生数据流量的费用，用户需自行向运营商了解相关资费信息，并自行承担相关费用。

7.2.5 用户在使用本软件及服务时，须自行承担如下来自我不可掌控的风险内容，包括但不限于：

7.2.5.2 用户必须选择与所安装终端设备相匹配的软件版本，否则，由于软件与终端设备型号不相匹配所导致的任何问题或损害，均由用户自行承担；

7.2.5.3 用户在使用本软件访问第三方网站时，因第三方网站及相关内容所可能导致的风险，由用户自行承担；

7.2.5.4 <strong>用户发布的内容被他人转发、分享，因此等传播可能带来的风险和责任；</strong>

7.2.5.5 由于无线网络信号不稳定、无线网络带宽小等原因，所引起的成绩同步不完整、页面打开速度慢等风险。

八、用户行为规范

8.1 信息内容规范

8.1.2 你理解并同意，包括但不限于：
<strong>
8.1.2.1 发布、传送、传播、储存违反国家法律法规禁止的内容：

（1）违反宪法确定的基本原则的；

（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；

（3）损害国家荣誉和利益的；

（4）煽动民族仇恨、民族歧视，破坏民族团结的；

（5）破坏国家宗教政策，宣扬邪教和封建迷信的；

（6）散布谣言，扰乱社会秩序，破坏社会稳定的；

（7）散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；

（8）侮辱或者诽谤他人，侵害他人合法权益的；

（9）煽动非法集会、结社、游行、示威、聚众扰乱社会秩序；

（10）以非法民间组织名义活动的；

（11）不符合《即时通信工具公众信息服务发展管理暂行规定》及遵守法律法规、社会主义制度、国家利益、公民合法利益、公共秩序、社会道德风尚和信息真实性等“七条底线”要求的；

（12）含有法律、行政法规禁止的其他内容的。
</strong>
8.5.2 你理解并同意，我有权依合理判断对违反有关法律法规或本协议规定的行为进行处罚，对违法违规的任何用户采取适当的法律行动，并依据法律法规保存有关信息向有关部门报告等，用户应独自承担由此而产生的一切法律责任。


十二、其他

12.1 你使用本软件即视为你已阅读并同意受本协议的约束。我有权在必要时修改本协议条款，无需另行通知你。你可以在本软件的最新版本中查阅相关协议条款。本协议条款变更后，如果你继续使用本软件，即视为你已接受修改后的协议。如果你不接受修改后的协议，应当停止使用本软件。

12.2 本协议签订地为中华人民共和国西北大学。

12.3 本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。

12.5 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。

12.7 本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。（正文完）

    </pre>
</div>
</body>
</html>